# Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Archives & Temporary Artifacts
garment_data.zip
MachineLearing_exam.zip

# Logs
*.log
